[submodule ".zsh/themes/aphrodite"]
	path = .zsh/themes/aphrodite
	url = https://github.com/win0err/aphrodite-terminal-theme
[submodule ".zsh/plugins/zsh-autopair"]
	path = .zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule ".zsh/plugins/zsh-completions"]
	path = .zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
