#!/bin/sh

export GTK_THEME=Adwaita:dark
export GTK2_RC_FILES=/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc
export QT_STYLE_OVERRIDE=Adwaita-Dark

export XDG_SESSION_TYPE=X11

xsetroot -cursor_name left_ptr # disable ugly cursor cross

